body {
  overflow: hidden;
  background-color: #353738;
}

#mapbody {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -10%;
  position: absolute; width: 100%; height: 50%;
  padding-bottom: 20%;
  border: 5px solid;
  border-color: #8f9393;
  background-color: #BED7E1;
}

svg.datamap {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 20px;
  position: absolute; width: 100%; height: 100%;
}

#bleach_buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
}

#disease_buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 24%;
}

.button1 {
    margin-left: 0%;
}

.button {
  height: 100px;
  width: 100px;
  background-color: #BED7E1;
  border: 5px solid #8f9393;
  border-radius: 50%;
  color: "#353738";
  padding: 5px 5px;
  text-align: center;
  font-family: "Open Sans";
  text-decoration: none;
  display: inline;
  font-size: 30px;
  margin-top: 5%
}

.dbutton:hover {
    background-color: #9cb1ba;
}

.bbutton:hover {
    background-color: #9cb1ba;
}

.dbutton {
  height: 100px;
  width: 100px;
  background-color: #BED7E1;
  border: 5px solid #8f9393;
  border-radius: 50%;
  color: "#353738";
  padding: 5px 5px;
  text-align: center;
  font-family: "Open Sans";
  text-decoration: none;
  display: inline;
  font-size: 30px;
  margin-top: 0%
}

.bbutton {
  height: 100px;
  width: 100px;
  background-color: #BED7E1;
  border: 5px solid #8f9393;
  border-radius: 50%;
  color: "#353738";
  padding: 5px 5px;
  text-align: center;
  font-family: "Open Sans";
  text-decoration: none;
  display: inline;
  font-size: 30px;
  margin-top: -10%;
}

#legend {
  width: 200px;
  height: 200px;
  text-align: justify;
  display: inline-block;
  margin-left: 3%;
  color: #BED7E1;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: bold;
}

#square {
  position: fixed;
  bottom: 0;
	width: 38%;
	height: 27%;
	background: #353738;
  margin-left: 58%;
  margin-bottom:0%;
  border: 0px solid #BED7E1;
  color: #BED7E1;
  font-family: "Open Sans";
  font-size: 25px;
  margin-top:2%
}

#title {
  font-size: 50px;
  font-weight: bold;
    margin-top:2%
}
