body {
  overflow: hidden;
  background-color: #353738;
}

#mapbody {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -20%;
  position: absolute; width: 100%; height: 70%;
  padding-bottom: 20%;
  border: 5px solid;
  border-color: #8f9393;
  background-color: #BED7E1;
}

svg.datamap {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 20px;
  position: absolute; width: 100%; height: 100%;
}

svg.svgContainer {
    position:fixed;
    bottom:0;
}

svg.svgContainer.circle {
  position: fixed;
}
